<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Paddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,64}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{960,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,10}}</string>
                <key>sourceSize</key>
                <string>{960,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PongSpriteSheet.png</string>
            <key>size</key>
            <string>{1008,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60938a3a0fe761695fafa2302867d89:6b2a34938f583ad4c60296d5f033317a:fe14bf147d9b137874fcdf1116176b54$</string>
            <key>textureFileName</key>
            <string>PongSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
